html,body, #root, .App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.App {
  flex-direction: column;
}

textarea {
  height: 30%;
  width: 80%;
  margin-bottom: 20px;
  border-radius: 4px;
  border-color: #00bcd4;
}

.twitterButton {
  display: flex;
  align-items: center;
}

.tweetLabel {
  margin-left: 10px;
}